<div class="grid-container">
  <div class="grid-x">
    {{#if album}}
      <div class="small-12 medium-6 large-4 cell coverArt">
        <img onerror="this.src='/dist/assets/error.png'" src="/assets/cover/{{album.albumId}}.jpg" alt="{{album.albumName}}">
        <div class="audioP">
          <div class="players" id="player2-container">
            <div class="media-wrapper">
              <audio id="audioPlayer" preload="none" controls style="max-width:100%;">
                <source src="{{album.trackSource}}" type="audio/mp3">
                  Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
        <div class="trackActions">
          <span><a href="#"><i class="fi-loop"></i></a></span>
          <span><a href="#"><i class="fi-previous"></i></a></span>
          <span><a href="#"><i class="fi-next"></i></i></a></span>
          <span><a href="#"><i class="fi-plus"></i></a></span>
          <span><a href="#"><i class="fi-heart"></i></a></span>
        </div>
      </div>

      <div class="small-12 medium-6 large-offset-1 large-6 cell albumDetails">
        <div class="albumHeader">
          <div class="albumName">
            {{album.albumName}}
          </div>
          <div class="artistName">
            {{album.artistName}}
          </div>
          <span class="genre">
            {{album.genre}}
            <span class="separator">{{album.separator}}</span>
          </span>
          <span class="yearReleased">
            {{album.yearReleased}}
          </span>
        </div>
        <ul id="tracks">
          {{#each albumTracks}}
            <li class="trackList {{highlight}}" id="{{TRACK_ID}}" data-track-src="{{TRACK_SOURCE}}">
              <div class="trackItem {{soundIcon}}">
                <span class="songName">{{TRACK_NAME}}</span>
              </div>
              <div class="text-right">{{trackTime}}</div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
    {{#unless album}}
      <div class="small-12 medium-12 large-12 cell text-center">
        There is some error getting the tracks.
      </div>
    {{/unless}}
  </div>
</div>
